*{
    outline: none !important;
}
body{
    color:#ffffff
}
.menu{
    position: absolute;
    top: 0;
    width:100%;
    height: 83px;
}
.menu-inner{
    height: 100%;
}
.menu-nav ul{
    color: #ffffff;
    display: block;
    padding: 0;
    margin: 0;

    position: relative;
}
.menu-nav ul > li{
    position: relative;
    float:left;
    height: 83px;
    text-align: center;
}
.menu-nav ul li a{
    top: 25%;
}
li > a{
    display: block;
    font-size: 15px;
    color: #777;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
}
.menu-nav{
    color: transparent;
    border: 1px solid transparent;
    background: transparent;
    position: relative;
    float: right;
    display: inline-block;
    height: 100%;
    margin-right: 200px;
}

.wrapper{
    background-color: #333;
    background-image: url(../images/data.jpg);
    padding-top: 200px;
    display: block;
    background-size: cover !important;
    min-height: 700px;
}
.inner-left{
    padding: 5% 0px 0px 25px;
    position: relative;
    float: left;

}

.left-text-top{
    border-width: 0px;
    border-color: #a262ad;
    margin-left: -3%;
    border-radius: 50%;
    display: inline-block;
    width: auto;
    height: auto;

}
.left-text-center{
    margin-bottom: 25px;
}
.left-text-bottom{
    margin-left: 3%;
}
.icon-span{
    font-size:30px;
    background-color:#a262ad;
    border-width:2px;
    border-color:#a262ad;
    border-style:solid;
    display: block;
    text-align: center;
    position: relative;
    width: 2em;
    height: 2em;
    background-color: #a262ad;
    border-width: 2px;
    border-color: #a262ad;
    border-style: solid;
    border-radius: inherit;
}
.micro-box{
    margin-bottom: 28px;
}