<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.user.mapper.AnnouncementMapper">

    <select id="selectAll" resultType="com.user.entity.po.Announcement">
        select * from announcement limit #{pageStart}, #{pageEnd}
    </select>

    <select id="selectCountFromAnnouncement" resultType="java.lang.Integer">
        select count(1) from announcement
    </select>

        <select id="selectAnnouncementById" resultType="com.user.entity.po.Announcement">
            select * from announcement
            where id = #{id}
            limit 1
        </select>
</mapper>