<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.user.mapper.UserMapper">

    <select id="selectUserByUserName" parameterType="String" resultType="com.user.entity.User">
        select * from user where userName = #{userName}
        limit 1
    </select>

    <select id="selectUserByid" parameterType="String" resultType="com.user.entity.User">
        select * from user where id = #{id}
        limit 1
    </select>

     <insert id="insertUser" parameterType="com.user.entity.User">
        insert into user values(
            #{user.id}
            #{user.userId}
            #{user.userName}
            #{user.password}
            #{user.email}
            #{user.telephone}
            #{createTime}
        )
    </insert>

    <insert id="insertUserIDAndCertificate" parameterType="com.user.entity.User">
        insert into user(userId, userName, password, email, telephone, createTime) values(
            #{userId},
            #{userName},
            #{password},
            #{email},
            #{telephone},
            #{createTime}
        )
    </insert>

    <update id="updateUser">
        update user
        set userName = #{userName},
            password = #{password},
            email = #{email},
            telephone = #{telephone},
            createTime = #{createTime}
        where id = #{id}
    </update>

    <delete id="deleteUser">
        delete from user
        where id = #{id}
    </delete>


</mapper>
